<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleDb"
         connectionString="User Id=it1234;Password=student;Data Source=//172.16.54.24:1521/ictorcl"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>